

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* HEADER */
header {
    background: linear-gradient(90deg, #0c4a78, #2a86c4);
    color: white;
    text-align: center;
    padding: 30px 20px;
    position: relative;
}

header h1 {
    font-size: 32px;
}

/* BOTÃO VOLTAR */
header a button {
    position: absolute;
    left: 20px;
    top: 30px;
    padding: 10px 15px;
    border: none;
    background-color: white;
    color: #0c4a78;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

header a button:hover {
    background-color: #ddd;
}

/* CONTEÚDO */
main {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

section {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

/* IMAGEM */
section img {
    margin: 20px 0;
    border-radius: 10px;
    opacity: 0.5;

}
img:hover{
    opacity: 1;
}

/* LISTA */
ul {
    list-style: none;
    margin-top: 15px;
}

ul li {
    margin: 8px 0;
}

/* FOOTER */
footer {
    background-color: #0c4a78;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
